.search-container {
    /*display: none;*/
}

.icon {
    background: #1b0325;
    clip-path: inset(0px 100% 100% 0px round 1px);
    height: 100vh;
    width: 100vw;
    transition: clip-path .5s;
    position: absolute;
    top: 0;
    left: 0;
    color: #ececec;
    display: grid;
    overflow: scroll;
}


.open-search-icon {
    position: absolute;
    left: 18px;
    top: 14px;
    color: #1b0325;
    font-size: 35px;
    transform: translateY(0);
}

.close-icon {
    color: white;
    font-size: 35px;
    transform: translateX(-100px);
    opacity: 0;
    z-index: 1;
    justify-self: start;
    margin: 10px 20px;
    position: fixed;
    left: 10px;
}

.hide {
    animation: slide-up .3s ease forwards;
}

.float-in {
    transform: translateX(0);
}

.top {
    display: flex;
    justify-content: center;
}

#search-bar {
    margin: 10px 0 35px;
    border: none;
    border-bottom: 1px solid;
    width: 70vw;
    display: grid;
    height: 70px;
    grid-template-columns: 90% 10%;
    justify-self: center;
    transition: all .8s ease;
    transform: translateX(-200px);
}

#search-bar input {
    background: transparent;
    color: white;
    border: none;
    font-size: 50px;
    font-weight: 200;
    outline: none;
    padding: 5px;
}

.search-btn {
    color: #1b0325;
    background: white;
    border-radius: 0 3px 3px 0;
    border: 1px solid white;
    font-size: 30px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searched-tracks-container {
    position: relative;
    top: 3rem;
    display: grid;
    grid-gap: 8px;
    justify-self: center;
    width: 70%;
    padding: 5px;
    transition: all 1s ease;
    color: #ececec;
    transform: translateX(-800px);
    margin-bottom: 45px;
}

.search-results {
    opacity: 0;
    display: grid;
    grid-template-columns: 22% 78%;
    justify-items: start;
    align-items: center;
    animation: tracksEnter .3s ease-in forwards;
}

.search-results:hover {
    background: #ababab47;
    border-radius: 4px;
    cursor: default;
}

.search-artist-name {
    font-size: 22px;
    font-weight: 600;
}

.search-artist-song {
    font-size: 15px;
    font-weight: 500;
}

.search-img {
    width: 100px;
    height: 100px;
}

@keyframes slide-right {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100px);
        color: white;
        opacity: 0;
    }
}

@keyframes tracksEnter {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    50% {
        opacity: .5;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}