.App {
  text-align: center;
  display: grid;
}

.artist-info {
  margin: 10px 0;
  text-align: start;
  width: 100%;
}

.artist-name {
  font-size: 30px;
  font-weight: 900;
}

.artist-song{
  font-size: 25px;
  font-weight: 600;
}

.play-pause-section {
  font-size: 35px;
  margin: 15px;
  width: 35%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}